html {
	height: 100%;
	overflow: auto;
}

body {
	background-image: url(images/bg_body.jpg);
	padding-bottom: 30px;
	font-family: sans-serif;
	height: 100%;
}

.wrapper {
	width: 1000px;
	margin: auto;
	min-height: 100%;
}

a {
	text-decoration: none;
}

p {
	text-align: justify;
}

header {
	height: 100px;
	padding-top: 70px;
	margin-bottom: 40px;
}

.lang-list {
	position: absolute;
	top: 40px;
	left: 0;
}

.lang-item {
	float: left;
	font-size: 13px;
}

.lang-list li + li::before {
	content: '  |  ';
	white-space: pre;
	color: #fff;
}

.auth span + span::before {
	content: '  |  ';
	white-space: pre;
	color: #fff;
}

.auth-link a {
	color: #fff;
	text-decoration: underline;
	text-transform: lowercase;
}

.lang-item:first-child {
	color: #f9da5a;
}

.lang-item a {
	color: #fff;
}

.signin a {
	color: #f9da5a;
}

.mainmenu .menu-item {
	float: left;
	height: 40px;
	background-color: #fff;
	width: 125px;
	cursor: pointer;
	text-align: center;
}

.mainmenu {
	margin-top: 50px;
	line-height: 40px;
	font-size: 14px;
	float: right;
}

.content {
	padding-bottom: 100px;
}

.article img {
	width: auto;
}

.content p {
	line-height: 20px;
	font-size: 14px;
}

.mainmenu .menu-item:hover {
	background: rgba(254, 182, 69, 1) 100%;
}

.mainmenu .menu-item:first-child {
	border-radius: 5px 0 0 5px;
}

.mainmenu .menu-item:nth-child(2) {
	background: rgba(254, 182, 69, 1) 100%;
}

.mainmenu .menu-item:last-child {
	border-radius: 0 5px 5px 0;
}

.mainmenu a {
	color: #5b2f10;
}

.auth {
	position: absolute;
	top: 40px;
}

.logo {
	display: inline-block;
}

.promo {
	margin: auto;
	padding: 30px 40px 60px 160px;
	background: url(/images/bg_about.png)  no-repeat, url(/images/bg_promo.png);
	background-position: center left 70px;
	border-radius: 10px;
	font-style: italic;
	color: #f9da5a;
	line-height: 25px;
	min-height: 80px;
}

.promo h1 {
	font-size: 22px;
	color: #ead4aa;
	margin-bottom: 20px;
	font-style: normal;
	font-weight: lighter;
}

.article {
	width: 1000px;
	margin: auto;
	padding: 60px 0 30px 40px;
	line-height: 20px;
}

.article img {
	float: left;
	margin-right: 25px;
	margin-bottom: auto;
	position: absolute;
}

.article h2 {
	margin-left: 120px;
	margin-bottom: 20px;
	font-size: 20px;
	width: 800px;
	font-style: 18px;
	color: #f9da5a;
}

.article p {
	color: #d3d3d3;
	margin-left: 120px;
	width: 800px;
}

.article:last-child {
	border-bottom: 1px solid #f9da5a;
}

.footer {
	width: 1000px;
	font-size: 14px;
	padding-top: 60px;
	height: 100px;
	margin: -100px auto 0;
	position: relative;
}

.copyright {
	color: #f9da5a;
	width: 50%;
	float: left;
	position: absolute;
}

.footermenu li {
	float: right;
}

.footermenu li + li::after {
	content: '  |  ';
	white-space: pre;
	color: #fff;
}

.footermenu a {
	color: #fff;
}
